entry {
	padding: 5px 15px;
	border-radius: 50px;
	margin-top: 63px;
	margin-bottom: 63px;
	background: #464646;
}

button {
	padding: 10px;
	border-radius: 20px;
	background: none;
}

button:hover {
	background-color: #3a3a3a;
}

button:focus {
	outline: none;
}
