# This is Git's per-user configuration file.
[user]
  name = James Pond
  email = james@cipher.host
  signingkey = EBAF2BD5DEFD9721
[commit]
  gpgsign = true
[push]
  default = simple
[pull]
  rebase = true
[sendemail]
  smtpencryption = tls
  smtpserver = smtp.soverin.net
  smtpuser = james@cipher.host
  smtpserverport = 465
  smtpsslcertpath =
  annotate = yes
[core]
  editor = vim
  eol    = lf
[gpg]
  program = gpg
