window {
	background-color: transparent;
}

#outer-box {
	margin: 0;
}

#inner-box {
	padding: 20px;
	border: none;
	border-radius: 10px;
	background-color: #353535;
}

button,
image {
	border: none;
	background: none;
	box-shadow: none;
}

button {
	padding: 20px;
	margin-left: 20px;
}

button:first-child {
	margin-left: 0;
}

button:hover {
	background-color: #474747;
}

button:focus {
	outline: none;
}
