.notification-row .notification-background {
	padding: 6px 0;
}

.notification-row .notification-background .close-button {
	background: #595959;
	color: #fff;
}

.notification-row .notification-background .notification {
	border: none;
	background: #474747;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
	margin-right: 36px;
}

.control-center {
	padding: 3px;
	border-radius: 12px;
	background: #353535;
	color: #fff;
	font-family: Cantarell, sans-serif;
}

.control-center .control-center-list-placeholder {
	font-size: 24px;
	font-weight: 700;
}

.control-center .control-center-list .notification {
	border: none;
	background: #474747;
	box-shadow: none;
	color: #cecece;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
	background-color: #515151;
}

.widget-title > button {
	border: none;
	background: #474747;
	color: #e0e0e0;
}

.widget-title > button:hover {
	background: #515151;
}

.widget-dnd > switch {
	border: 1px none;
	background: #535353;
}

.widget-dnd > switch:checked {
	background: #3584e4;
}

.widget-dnd > switch slider {
	border-radius: 12px;
	background: #fff;
}
