* {
	font-family: "Cantarell Nerd Font";
	font-size: 16px;
	font-weight: 700;
}

window#waybar {
	background: #000;
	color: #fff;
}

tooltip {
	border: none;
	border-radius: 10px;
	background: #474747;
}

tooltip label {
	color: #fff;
	text-shadow: none;
}

#workspaces {
	padding-left: 10px;
}

#workspaces button {
	border: none;
	color: #7f7f7f;
}

#workspaces button:hover {
	background: #000;
}

#workspaces button.focused {
  color: #fff;
}

#clock {
  padding-right: 10px;
}

#tray {
	padding-right: 10px;
}

#image {
	padding-right: 10px;
}
